body{
    background-image: url("../img/img3.jpg");
    font-size: 20px;
}
.imagem{
    margin: 0px 0px 0px 0px; 
}

img{
    

    width: 1800px;
    height: 800px;
    border: 20px solid rgb(92, 89, 89);
    border-radius: 4px;

}
a{
    text-decoration: none;
    text-align: center;
    align-items: center;
}
p{
    text-align: justify;
    margin-top: 20px;
}

.foto{
    display: flex;
}
button{
    width: 300px;
    height: 30px;
    border: 3px solid rgb(106, 149, 160);
    background-color: rgb(173, 202, 230);
    border-radius: 70px;
    margin-left: 140px;
    display: flex;
    text-align: center;
    align-items: center;

}

