body{
    background-color: rgb(255, 255, 255);
    font-size: 20px;
}
.imagem{
    margin: 0px 0px 0px 0px; 
}

img{
    

    width: 710px;
    height: 450px;
    border: 15px solid rgb(92, 89, 89);
    border-radius: 4px;

}
ul{
    list-style: none;
}
h6{
    text-align: center;
    width: 300px;
}
.foto1{
    width: 300px;
    height: 300px;
    border: 10px solid rgb(92, 89, 89);
    border-radius: 20px;
    margin: 0px 50px 0px 0px; 
}
.foto2{
    width: 300px;
    height: 300px;
    border: 10px solid rgb(92, 89, 89);
    border-radius: 20px;
    margin: 0px 50px 0px 0px; 
}
.foto3{
    width: 300px;
    height: 300px;
    border: 10px solid rgb(92, 89, 89);
    border-radius: 20px;
    margin: 0px 50px 0px 0px; 
}
.foto4{
    width: 300px;
    height: 300px;
    border: 10px solid rgb(92, 89, 89);
    border-radius: 20px;
    margin: 0px 50px 0px 0px; 
}
a{
    text-decoration: none;
    text-align: center;
    align-items: center;
}
p{
    text-align: justify;
    margin-top: 20px;
}

button{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 300px;
    height: 30px;
    border: 3px solid rgb(66, 70, 69);
    background-color: rgb(138, 143, 148);
    border-radius: 70px;
    margin-left: 50px;
    margin-top: 20px;
    text-align: center;
    align-items: center;
}